/* CSS definition file containing site stylesheet */
body {}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
.margintop1{margin-top: 5px;}
.margintop2{margin-top: 10px;}
.margintop3{margin-top: 20px;}
.margintop4{margin-top: 30px;}
.margintop5{margin-top: 40px;}
.margintop7{margin-top: 50px;}
.margintop8{margin-top: 60px;}
.marginbottom1{margin-bottom: 10px;}
.marginbottom2{margin-bottom: 20px;}
.marginbottom3{margin-bottom: 30px;}
.marginbottom4{margin-bottom: 40px;}
.marginbottom5{margin-bottom: 50px;}
.marginbottom6{margin-bottom: 60px;}
.marginbottom7{margin-bottom: 70px;}
.marginbottom8{margin-bottom: 80px;}
.marginbottom9{margin-bottom: 90px;}
.removeMargin{margin-left: 0px;}
.removePadding{padding:0;}
.horizontal-scroll{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;}
.vertical-scroll{
    border: 1px solid lightblue;
    height: 250px;
    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;}
.cover-absolute{position:relative;}
.col-centered{
    float: none;
    margin: 0 auto;
}
.removeDecoration{
    text-decoration: none;
}
.removeDecoration:hover{
    text-decoration: none;
}
.removeDecoration:active{
    text-decoration: none;
}
.removeDecoration:visited{
    text-decoration: none;
}
.logo{
    height:50px;
    width: 50px;
}
/* Large desktop */
@media (min-width: 1200px) {
    #cover{
        height:100vh;
        min-height: 300px;
        color:whitesmoke;
        background-size: 100vw;

    }
    #dannyhaitran{
        margin-top: 40vh;
        padding-bottom: 20px;
        font-size: 80px;
        font-style: italic;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #viewProjects-div{
        position:static;
        bottom:20px;    

    }
    #viewProjects{
        color: rgb(255,255,255);
        font-size: 1em;
        font-family: 'Ariel', sans-serif;
        background: rgba(0,0,0,0.5);
        border-radius :0;
        border-style: none;
        width:100%;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
    #viewProjects:hover{
        background: rgba(180,149,226,0.5);

    }
    #content{
        min-height:100vh;
        background: white;  
        background-size: 100vw;
    }
    .content-name{
        font-size: 30px;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        margin-left: 20px;
        display:block;
    }
    .content-name:hover{
        color:black;
        text-decoration: none;
    }
    .content-name:visited{
        color:black;
        text-decoration: none;
    }
    .content-name:link{
        color:black;
        text-decoration: none;
    }
    .content-name:active{
        color:black;
        text-decoration: none;
    }
    .content-description{
        white-space:pre-line;
        font-size: 20px;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .project-images image{
        max-height: 200px;
    }
    .project-image{
        max-height: 50vh;
        margin-left: 20px;
    }
    .container-fluid{
        padding:0;
    }
    .accordion-heading:hover{
        background-color: rgba(180,149,226,0.5);
    }
    #about{
        min-height: 800px;
        height:100vh;
        background-size: 100vw;
    }
    .infoTitle{
        font-size: 65px;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    .infoDesc{
        font-size: 20px;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #photo-me{
        height:350px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    #cover{
        height:100vh;
        min-height: 300px;
        color:whitesmoke;
        background-size: 100vw;

    }
    #dannyhaitran{
        margin-top: 40vh;
        padding-bottom: 20px;
        font-size: 80px;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #viewProjects-div{
        position:static;
        bottom:20px;    

    }
    #viewProjects{
        color: rgb(255,255,255);
        font-size: .8em;
        font-family: 'Ariel', sans-serif;
        background: rgba(0,0,0,0.5);
        border-radius :0;
        border-style: none;
        width:100%;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
    #viewProjects:hover{
        background: rgba(180,149,226,0.5);

    }
    #content{
        min-height:100vh;
        background: white;  
        background-size: 100vw;
    }
    .content-name{
        font-size: 30px;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        margin-left: 20px;
        display:block;
    }
    .content-name:hover{
        color:black;
        text-decoration: none;
    }
    .content-name:visited{
        color:black;
        text-decoration: none;
    }
    .content-name:link{
        color:black;
        text-decoration: none;
    }
    .content-name:active{
        color:black;
        text-decoration: none;
    }
    .content-description{
        white-space:pre-line;
        font-size: 20px;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .project-images images{
        max-height: 100vh;
    }
    .container-fluid{
        padding:0;
    }
    .accordion-heading:hover{
        background-color: rgba(180,149,226,0.5);
    }
    #about{
        height:900px;
        background-size: 100vw;
    }
    .infoTitle{
        font-size: 3em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    .infoDesc{
        font-size: 1.35em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #photo-me{
        height:300px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {   
    #cover{
        height:100vh;
        min-height: 600px;
        color:whitesmoke;
        background-size: 100vw;

    }
    #dannyhaitran{
        margin-top: 40vh;
        padding-bottom: 20px;
        font-size: 60px;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #viewProjects-div{
        position:static;
        bottom:20px;    

    }
    #viewProjects{
        color: rgb(255,255,255);
        font-size: 1em;
        font-family: 'Ariel', sans-serif;
        background: rgba(0,0,0,0.5);
        border-radius :0;
        border-style: none;
        width:100%;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
    #viewProjects:hover{
        background: rgba(180,149,226,0.5);

    }
    #content{
        min-height:100vh;
        background: white;  
        background-size: 100vw;
    }
    .content-name{
        font-size: 30px;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        margin-left: 20px;
        display:block;
    }
    .content-name:hover{
        color:black;
        text-decoration: none;
    }
    .content-name:visited{
        color:black;
        text-decoration: none;
    }
    .content-name:link{
        color:black;
        text-decoration: none;
    }
    .content-name:active{
        color:black;
        text-decoration: none;
    }
    .content-description{
        white-space:pre-line;
        font-size: 20px;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .project-images images{
        max-height: 100vh;
    }
    .container-fluid{
        padding:0;
    }
    .accordion-heading:hover{
        background-color: rgba(180,149,226,0.5);
    }
    #about{
        height:950px;
        background-size: 100vw;
    }
    .infoTitle{
        font-size: 1.6em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    
    .infoDesc{
        font-size: 1.2em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
    }
    #photo-me{
        height:300px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }
/*    .small-black{
        color:rgb(75,75,75);
    }*/
}
/* Landscape phones and down */
@media (max-width: 480px) {  
    #cover{
        height:100vh;
        min-height: 300px;
        color:whitesmoke;
        background-size: 100vw;

    }
    #dannyhaitran{
        margin-top: 40vh;
        padding-bottom: 20px;
        font-size: 60px;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    #viewProjects-div{
        position:static;

    }
    #viewProjects{
        visibility: hidden;
        position:absolute;
        bottom:20px;
        color: rgb(255,255,255);     
        font-size: .7em;
        font-family: 'Ariel', sans-serif;
        background: rgba(0,0,0,0.5);
        border-radius :0;
        border-style: none;
        width:100%;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    }
    #viewProjects:hover{
        background: rgba(180,149,226,0.5);

    }
    #content{
        min-height:100vh;
        background: white;  
        background-size: 100vw;
    }
    .content-name{
        font-size: 1.4em;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        margin-left: 20px;
        display:block;
    }
    .content-name:hover{
        color:black;
        text-decoration: none;
    }
    .content-name:visited{
        color:black;
        text-decoration: none;
    }
    .content-name:link{
        color:black;
        text-decoration: none;
    }
    .content-name:active{
        color:black;
        text-decoration: none;
    }
    .content-description{
        white-space:pre-line;
        font-size: 1em;
        font-family: 'Karla', sans-serif;
        line-height: 25px;
    }
    .project-images images{
        max-height: 100vh;
    }
    .container-fluid{
        padding:0;
    }
    .accordion-heading:hover{
        background-color: rgba(180,149,226,0.5);
    }
    #about{
       min-height:1100px;
        background-size: 100vw;
    }
    .infoTitle{
        font-size: 2em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: 1px 1px #040404;
    }
    .infoDesc{
        font-size: .9em;
        color: whitesmoke;
        font-family: 'Karla', sans-serif;
        text-shadow: .5px .5px #040404;
    }
    #photo-me{
        height:250px;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

}